html {
    font-size: 30px;
}

header {
    text-align: center;
}

header {
    position: relative;
    padding: 0.5em;
    background: rgb(0, 41, 204);
    color: white;
}
  
header::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
}

h1 {
    margin: 10px;
    letter-spacing: 0.5em;
}

h1+p {
    margin: 10px;
}