html {
    font-size: 40px;
}

header {
    text-align: center;
}

header {
    position: relative;
    padding: 0.5em;
    background: rgb(0, 41, 204);
    color: white;
}
  
header::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
}

h1 {
    margin: 10px;
    letter-spacing: 0.5em;
    font-size: 60px;
}

dl {
    margin: 20px;
    line-height: 2;
    text-align: center;
}

input {
    font-size: 30px;
}

select {
    font-size: 30px;
}

#number1{
    width: 4em;
}

#weight,#hour{
    position: relative;
    width: 4em;
}