html {
    font-size: 40px;
}

div {
    margin: 20px;
    line-height: 2;
    text-align: center;
}

input {
    font-size: 30px;
    width: 240px;
    display: inline-block;
    list-style-type: none;
    position: relative;
    background-color: rgb(0, 41, 204);
    color: white;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    display: block;
}

select {
    font-size: 30px;
}

ul.menu {
    margin: 0px;
    padding: 0px 0px 0px 15px;
    background-color: rgb(0, 41, 204);
}
 
ul.menu li {
    width: 240px;
    display: inline-block;
    list-style-type: none;
    position: relative;
}

ul.menu a {
    background-color: rgb(0, 41, 204);
    color: white;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    display: block;
}

ul.menu a:hover {
    background-color: rgb(94, 109, 168);
    color: rgb(0, 41, 204);
}
 
ul.menu ul {
    display: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

ul.menu li:hover ul {
    display: block;
}